*{
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', 'Arial', sans-serif; 
  }
body{
  width: 100%; 
  height: 50vh; 
  min-height: 350px;  
  background: linear-gradient(rgb(103, 44, 96),rgba(253, 253, 252, 0.7)), url('/pinky.jpg');
  min-height: 500px;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

  } 
  .contant{
    text-align: left; 
    text-decoration: none;
    margin: 0px;
    padding: 20px; 
    background-color: rgb(245, 245, 245);
    color: rgb(246, 246, 246); 
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgb(220, 40, 40), 0 0 25px rgba(176, 113, 140, 0.496), 0 0 5px rgb(214, 172, 172);
    word-spacing: 25px; 
    
     }
 .div{
  text-align: center; 
  text-decoration: none;
  margin: 0px;
  padding: 10px; 
  background-color: azure;
  color: rgb(3, 3, 3); 
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgb(220, 40, 40), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(214, 172, 172);
  word-spacing: 5px; 
  font-size: x-large;
  
}
 @media only screen and (max-width: 720px) { 
  .headline {
    flex-direction: column;
    padding: 50px;
    
  } 
} 
   .bug{
    float: right; 
        
}   
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-contant {
  display: none;
  position: absolute;
 background: linear-gradient(rgb(184, 146, 178),rgba(182, 90, 168, 0.7)), url('/pinky.jpg');
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

 .dropdown-contant a {
  color: rgb(158, 107, 161);
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
}
.dropdown-contant a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-contant {
  display: block;
}
.headline {
  width: 100%;
  height: 50vh;
   min-height: 350px;
   background: linear-gradient(rgb(184, 146, 178),rgba(182, 90, 168, 0.7)), url('/pinky.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3, p {
  color:rgb(137, 20, 139);
  text-align: center;
  line-height: 1.4;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgb(220, 40, 40), 0 0 25px rgba(176, 113, 140, 0.496), 0 0 5px rgb(214, 172, 172);
    
}
.polaroid{
  width: 25%; 
  height: auto; 
  background-color: white(245, 245, 245);
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(125, 22, 22, 0.19);
  margin: 30px; 
  float: right; 
  padding: 5px; }
.img {
  position: absolute;
  left: 0px;
  top: 0px;  
  z-index:-1;
  
  }
  @media screen and (min-width: 480px) {
    body {
      background-color: rgb(108, 64, 107);
    }
  }
  @media screen and (mix-width: 720px) {
    body {
      background-color: rgb(144, 238, 235);
    }
  } 
  footer {
    background: linear-gradient(rgb(184, 146, 178),rgba(182, 90, 168, 0.7)), url('/pinky.jpg');
    background-size: cover;
   
  }
   footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 20px; 
    
  }
  .row {
    padding: 1em 1em;
  }
  
   .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
  } 
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgb(220, 40, 40), 0 0 25px rgba(176, 113, 140, 0.496), 0 0 5px rgb(214, 172, 172);
    text-decoration: none;
  }
  ul li a:hover {
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgb(220, 40, 40), 0 0 25px rgba(176, 113, 140, 0.496), 0 0 5px rgb(214, 172, 172);
  } .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  } 
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background: linear-gradient(rgb(184, 146, 178),rgba(182, 90, 168, 0.7)), url('/pinky.jpg');
    color: #ffffff;
  }
  .social:hover {
    display: flex;
    justify-content: space-around;
    font-size: 0.4em;
    flex-direction: row;
    margin-top: 1.5em;
    transform: scale(1.0); 
      
  }
 